:root{
    --hue:210;
    --base-color:hsl(var(--hue) 100% 27%);
    --title-color:hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --body-color: hsl(0 0% 98%);
    
    --title-font:'Open Sans', sans-serif;
    --text-font:'Roboto', sans-serif;
    --title-font-size: 1.875rem;
    --text-font-size: 
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

body{
    background-color: var(--body-color);
}